.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.083333333333333em; /* 25px */
  padding-right: 1em; /* 25px */
  padding-left: 1em; /* 25px */
  border: none;
  border-radius: 3px;
  background-color: #F2F2F2;
  color: #333333;
  font-size: 12px;
  line-height: 1.9;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 50ms ease-in-out;
}

.Button:hover,
.Button:focus,
.Button.is-focused {
  background-color: #E6E6E6;
}
.Button:active,
.Button.is-active {
  background-color: #CCCCCC;
}

.Button--large {
  font-size: 18px;
}

.Button--dark {
  background-color: #B3B3B3;
  color: #FFFFFF;
}

.Button--dark:hover,
.Button--dark:focus,
.Button--dark.is-focused {
  background-color: #A6A6A6;
}
.Button--dark:active,
.Button--dark.is-active {
  background-color: #808080;
}

.Button--link {
  padding-right: 0;
  padding-left: 0;
  background-color: transparent;
  color: #333333;
  line-height: 1;
  text-transform: none;
}

.Button--link:hover,
.Button--link:focus,
.Button--link.is-focused  {
  background-color: transparent;
}
.Button--link:active,
.Button--link.is-active  {
  background-color: transparent;
}

.Button--round {
  width: 2.083333333333333em; /* 25px */
  padding-right: 0;
  padding-left: 0;
  border-radius: 50%;
}

.Button--secondary {
  background-color: #000000;
  background-image: linear-gradient(to bottom, rgba(110, 110, 110, 1) 0%, rgba(110, 110, 110, 0) 50%);
  color: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.Button--secondary:hover,
.Button--secondary:focus,
.Button--secondary.is-focused {
  background-color: #222222;
}

.Button--secondary:active,
.Button--secondary.is-active {
  background-color: #444444;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.43) 0%, rgba(255, 255, 255, 0) 50%);
  box-shadow: none;
}

.Button--primary {
  background-color: #CB0000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.43) 0%, rgba(255, 255, 255, 0) 50%);
  color: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.Button--primary:hover,
.Button--primary:focus,
.Button--primary.is-focused {
  background-color: #E60000;
}

.Button--primary:active,
.Button--primary.is-active {
  background-color: #E60000;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.43) 0%, rgba(255, 255, 255, 0) 50%);
  box-shadow: none;
}
